doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="description" content="Делаем подробные дизайн-проекты квартир и сопровождаем их во время ремонта")
        link(rel="icon", href=require("../favicon-32x32.png"), type="image/png", sizes="32x32")
        link(rel="apple-touch-icon", href=require("../apple-touch-icon-180x180.png"), sizes="180x180")
        title interiqa | Студия дизайна интерьера
        meta(name="viewport", content="width=1100, initial-scale=1")
        style
    body
        //- #maket
        #indicator
        .pre-loader
            .cssload-thecube
                .cssload-cube.cssload-c1
                .cssload-cube.cssload-c2
                .cssload-cube.cssload-c4
                .cssload-cube.cssload-c3
        #main
            header
                .wrap
                    .header
                        a.logo(href="http://interiqa.ru/")
                            img(src=require("../img/logo.png"), height="41", width="190", alt="interiqa")
                        .header_right
                            .contact_info
                                p Офис ежедневно с 10:00 до 20:00
                                a.phone(href="tel:+7 495 755-24-00") +7 495 755-24-00
                            .messengers
                                a(href="tg://resolve?domain=@kmarkevich", target="_blank", rel="noopener noreferrer")
                                    img(src=require("../img/telegram.png"), height="40", width="40", alt="telegram")
                                a(href="https://wa.me/79999617656", target="_blank", rel="noopener noreferrer")
                                    img(src=require("../img/whatsapp.png"), height="40", width="40", alt="whatsapp")
                            .menu
                                span.text Меню
                                .menu_button
                                    span
                                    span
                                    span
                                    span
            nav
                .wrap
                    .menu_list
                        - var list = [
                        - { title: "Главная", href: '#section1' },
                        - { title: "Споректировано", href: '#section3' },
                        - { title: "Подоход", href: '#section4' },
                        - { title: "Схема работы", href: '#section5' },
                        - { title: "Рассчитать стоимость", href: '#section6', class: 'red' },
                        - ]
                        each item in list
                            a.button_scroll(href= item.href, class= item.class ? item.class : '')= item.title
            section.section1#section1
                .wrap
                    h1 Студия комплексного
                        br
                        | дизайна интерьера квартир
                    p Делаем подробные дизайн-проекты
                        br
                        | и сопровождаем их во время ремонта
                    a.button.button_scroll(href="#section6") Рассчитать стоимость
            section.section2#section2
                .wrap
                    .item_grup
                        - var list = [
                        - { url: require('../img/work_icon.png'), text: 'Работаем по Москве и области' }, 
                        - { url: require('../img/contract_icon.png'), text: 'Заключаем официальный договор' }, 
                        - { url: require('../img/staf_icon.png'), text: 'Подбираем реальную мебель и материалы' }, 
                        - { url: require('../img/creditcard_icon.png'), text: 'Фиксированная цена 2500 ₽ за м²' }
                        - ]
                        each item in list
                            .item
                                img(src= item.url, alt= item.text)
                                p= item.text
            section.section3#section3
                .wrap
                    h2 Спроектировано
                    .project_grup
                        - var list = [
                        - { url: require('../img/project.jpg'), title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                        - { url: require('../img/project.jpg'), title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                        - { url: require('../img/project.jpg'), title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                        - { url: require('../img/project.jpg'), title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                        - ]
                        each item in list
                            .item.button_project
                                .img
                                    img(src= item.url, alt= item.title)
                                .text
                                    .title= item.title
                                    p= item.text
            section.section4#section4
                .wrap
                    h2 Делаем с любовью и в срок
                    p Внимательно подходим к каждому заказчику. Подробно узнаем что вам нравится а что не нравится, например, нужен ли гигиенический душ в ванной, или сколько мест хранения оставить под гардероб. После этого объединяем ваши пожелания, особенности квартиры и наши навыки в подробный дизайн-проект, с которым можно приступать к ремонту. Мебель, материалы и ключевые решения подбираем под ваш бюджет.
                    h3 Занимаемся только дизайн-проектами
                    p Без декорирования, платных консультаций, выездов по магазинам и других дополнительных услуг. 
                    p Делаем только дизайн-проекты, но делаем их хорошо.
            section.section5#section5
                .wrap
                    .block.step_start
                        .left
                            span.step
                        .right
                            h2 Процесс разработки 
                                br 
                                | разбит на 5 этапов, и потребует
                                br
                                | вашего участия
                    .block.step1
                        .left
                            span.step 1.
                        .right
                            h3 
                                span Встретимся на объекте, 
                                | снимем 
                                br
                                | точные размеры и зафиксируем ваши пожелания
                            p Вместе с дизайнером вы определитесь с общим стилем и настроением интерьера, цветовой гаммой, пожеланиями по функциональности и кучей друих вопросов касательно будущего ремонта.
                            .img
                    .block.step2
                        .left
                            span.step 2.
                        .right
                            h3 Разработаем 
                                span планировочное решение 
                            p Исходя из геометрии квартиры, строительных норм и ваших личных предпочтений найдем максимально интересную и функционально оправданную планировку. Как правило, получается 2-3 хороших варианта, из которых выбираем один и дорабатываем.
                            .img
                    .block.step3
                        .left
                            span.step 3.
                        .right
                            h3 Сделаем 
                                span 3d визуализации
                            p В программе 3D MAX построим качественные фотореалистичные изображения каждой комнаты, которые дадут полное представление о будущем интерьере.
                            p По ним вы сможете согласовать общий стиль, цветовое решение, сочетание материалов, мебели, и в целом посмотреть как будет выглядеть ваша квартира когда закончится ремонт.
                            .img
                    .block.step4
                        .left
                            span.step 4.
                        .right
                            h3 Подготовим рабочие 
                                span схемы и чертежи,
                                br
                                | подберем мебель и материалы
                            p Планы пола, потола, схемы расположения светильников, розеток, выключателей, развертки по стенам, 
                                | списки мебели для покупки и другие материалы, которые нужны для того, чтобы воплотить проект.
                            .img
                    .block.step0
                        .left
                            span.step
                        .right
                            h2 В итоге вы получите проект, по которому
                                br
                                | ремонтная бригада сможет реализовать интерьер
                            button.button_sostav Состав проекта
                            .img
                    .block.step5
                        .left
                            span.step 5.
                        .right
                            h3 
                                span Сопровождаем проект 
                                | до конца ремонта
                            p На практике не бывает проектов без вопросов уже после его сдачи. Где-то изменится конфигурация шкафа, и нужно будет подкорректировать чертеж, а где-то решите в последний момент заменить диван, и захочется спросить, не будет ли он выбиваться из общей концепции.
                            .whatsapp_block
                                .img_whatsapp
                                p Для удобства работы используем Whatsapp, в общий чат подключается дизайнер, арт-директор и заказчик(и) проекта. Это позволяет оперативно вести и согласовывать работу на всех этапах и легко обмениваться материалами по проекту.
            section.section6#section6
                .wrap
                    h2 Обсудите с менеджером 
                        br 
                        | детали вашего проекта
                    form(action="ajax/mail.php", method="post", id="form")
                        .input
                            label(for="count_input") Площадь объекта
                            .count_input
                                button(type='button').minus -
                                input#count_input(type="number", name="area", value="75")
                                span.text м²
                                button(type='button').plus +

                        .input
                            input(type="text", name="name", placeholder="Ваше имя")
                        .input
                            input(type="number", name="phone", placeholder="Номер телефона")
                    .form_grup.price
                        p Предварительная стоимость
                        .right
                            span.price_static ( 
                                span#areaRoom 75
                                | м² × 2500 ₽)  
                            span.price_dynamic 
                                span#total-cost 187 500 
                                | ₽
                    .form_grup.time
                        p Срок выполнения
                        .right
                            span.time до 
                                span#total-day 30 
                                | рабочих дней
                    .form_grup.date
                        p Ближайшая дата замера
                        .right
                            span.date 28.11.2019
                            span.tooltip В связи с большой загруженностью, в ближайший месяц мы не берем 
                                br
                                | новые проекты, но вы можете забронировать дату замера заранее
                    .btn_grup
                        button.button(type="submit", form="form") Обсудить проект
                        p.button_text Нажимая на кнопку «Обсудить проект»,
                            br
                            | вы принимаете политику конфиденциальности
            footer
                .wrap
                    .footer_grup
                        .footer_left
                            .messengers
                                a(href="tg://resolve?domain=@kmarkevich", target="_blank", rel="noopener noreferrer")
                                    img(src=require("../img/telegram.png"), height="40", width="40", alt="telegram")
                                a(href="https://wa.me/79999617656", target="_blank", rel="noopener noreferrer")
                                    img(src=require("../img/whatsapp.png"), height="40", width="40", alt="whatsapp")
                            .contact_info
                                p Офис ежедневно с 10:00 до 20:00
                                a.phone(href="tel:+7 495 755-24-00") +7 495 755-24-00
                        a.instagram_grup(href="https://www.instagram.com/interiqa/", target="_blank", rel="noopener noreferrer")
                            span @interiqa
                            img(src=require("../img/instagram.png"), height="40", width="40", alt="instagram")
                    a(href="https://docs.google.com/document/d/1zKDni1zPh4zbdDvUh5nIfSnQ0N9zhGjRFOMk9fJmZzU/edit?usp=sharing", target="_blank", rel="noopener noreferrer").politic Политика конфиденциальности
                    hr
                    p.footer_info Информация на сайте не является публичной оффертой
                        br
                        | ИНН 0000000000 ОГРН 0000000000000
                    p.copy_write 2019 © interiqa
        #popap
            section.popap#sostav
                button.close
                .wrap
                    h2 Состав проекта
                    p Дизайн-проект состоит из набора схем, чертежей и визуализаций для ремонта вашей квартиры и интуитивно понятен как заказчику так и исполнителю. С ним мастера смогут быстро рассчитать стоимость и выполнить необходимые работы, а вы сможете легко контролировать весь процесс и сразу закупить все необходимое.
                .img 
                    img(src=require("../img/project_sostav.jpg"), alt="interiqa")
                .wrap
                    - var list = [
                    - "— Обмерный план;", "— План расстановки мебели;", "— 3d визуализации помещений;", "— План демонтажа;", "— План монтажа;", "— Схема расположения дверей;", 
                    - "— Схема расположения сантехнического оборудования;", "— План полов с отметками;", "— План потолков с высотами и привязками;", "— Общая схема электрики с привязками;",
                    - "— Схема освещения с привязками;", "— Схема освещения по группам;", "—Схема расположения теплых полов;", "— Схема установки кондиционеров;", 
                    - "— Развертки по стенам всех помещений объекта;", "— Схемы раскладки плитки;", "— Чертежи нетиповых деталей и встроенной мебели (если имеются);", "— Спецификация дверей;", 
                    - "— Спецификация сантехнического оборудования;", "— Спецификация материалов для чистовой отделки помещений;", "— Спецификация мебели;", "— Спецификация осветительных приборов, выключателей и розеток;"
                    - ]
                    ul.ul
                        each item in list
                            li.li= item
                .footer
                    .wrap
                        h2 Рассчитайте стоимость проекта
                            br
                            | для вашей квартиры
                        button.button.popap_button_scroll Рассчитать стоимость
            section.popap#project
                button.close
                .wrap
                    h2 Квартира-студия, 47 м2
                    p Москва, ЖК «RedSide»
                .img
                    img(src=require("../img/project/project.jpg"), alt="interiqa")
                .galery
                    - var list = [
                    - { url: require("../img/project/img1.jpg"), width: 1280 },
                    - { url: require("../img/project/img2.jpg"), width: 1280 },
                    - { url: require("../img/project/img3.jpg"), width: 1280 },
                    - { url: require("../img/project/img4.jpg") },
                    - { url: require("../img/project/img5.jpg") },
                    - { url: require("../img/project/img6.jpg"), width: 1280 },
                    - { url: require("../img/project/img7.jpg") },
                    - { url: require("../img/project/img8.jpg"), width: 1280 },
                    - { url: require("../img/project/img9.jpg") },
                    - { url: require("../img/project/img10.jpg"), width: 1280 },
                    - { url: require("../img/project/img11.jpg"), width: 1280 },
                    - { url: require("../img/project/img12.jpg") },
                    - ]
                    each img in list
                        .img
                            img(src= img.url, alt="interiqa", style= img.width ? "max-width: " + img.width + "px" : '' )
                .footer
                    .wrap
                        h2 Рассчитайте стоимость проекта
                            br
                            | для вашей квартиры
                        button.button.popap_button_scroll Рассчитать стоимость
        .vcard
            div
                span.fn.org interiqa
            div Телефон:
                 span.tel +7 495 755-24-00
            div Мы работаем
                span.workhours ежедневно с 10:00 до 21:00
                span.url
                    span.value-title(title="http://interiqa.ru/")
                </span>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")